.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    height: 68px;
    background: var(--badges);
}

/* it's an icon
.logo {}

.span{} */