:root {
  --main: #101828;
	--gray: #8d929a;
	--gray-light: #dadde1;
	--badges: #f2f4f7;
	--inputs: #f7f7f7;
	--white: #fff;
	--blue: #3470ff;
	--dark-blue: #0b44cd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family), sans-serif;
}

body {
  color: var(--main);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}