.nav {
    display: flex;
   justify-content: center;
}

.navlist {
    display: flex;
    gap: 32px;
}

.link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
}

.active{
    color: var(--blue);
    font-family: var(--font-family);
}