.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border: none;
    border-radius: 12px;
    background: var(--blue);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);
}

.button:hover,
.button:focus {
    background: var(--dark-blue);
}